
      #popupTeacherInfo
      {
         width: 600px;
         margin: auto;
         box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
         position: absolute;
         visibility: hidden;
         opacity: 1;
         left: 50%;
         top: 50%;
         transform:translate(-50%,-50%);
         z-index: 10;
      }

      #popupTeacherInfo:target, #popupTeacherInfo:target + .overlay
      {
         visibility: visible;
         opacity: 1;
      }
      .teacherInfo
      {
         background-color: attr(data-background);
      }
      .popup-header
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #464648;
        color: white;
        padding: 10px;
        font-size: large;
      }

      .teacherInfo
      {
         padding: 10px 10px 10px 10px;
      }

      #popupTeacherInfo #teacherInfoPicture
      {
         width: 30%;
         object-fit: cover;
      }
      #fullCardContent
      {
         font-size: small;
      }
      .mainTeacherInfo
      {
         display: flex;
         gap:5%;
         margin-bottom: 10px;
         font-size: small;
      }
      .mainTeacherInfo .rowSection
      {
         display: flex;
         flex-direction: row;
         margin-bottom: 10px;
      }

      .mainTeacherInfo .columnSection
      {
         display: flex;
         flex-direction: column;
         margin-bottom: 10px;
         gap:10%;
      }
      .mainTeacherInfo .columnSection div
      {
         margin-bottom: 10px;
      }
      .mainTeacherInfo #fullNameDiv
      {
         font-size: large;
         margin-bottom: 15px;
      }
      #mapInfoSection
      {
         width: 100%;
      }
      #mapImageFigure
      {
         width: 50%;
      }

      #mapImageFigure #mapImageInfo
      {
         display: none;
         width: 100%;
      }
      .setFavouriteButtonFalse
      {
         font-size:250%;
         color: #F9F9C1;
         font-weight: bold;
         margin-left: auto;
         margin-bottom: auto;
      }
      .setFavouriteButtonTrue
      {
         font-size:250%;
         color: yellow;
         font-weight: bold;
         margin-left: auto;
         margin-bottom: auto;
      }
      #popupTeacherInfo #toggleMapLink:link
      {
         text-decoration: underline dotted;
      }
      #popupTeacherInfo #toggleMapLink
      {
         color: #12A19F;
      }
      #popupTeacherInfo .emailLink:link
      {
         text-decoration: none;
      }
      #popupTeacherInfo .emailLink
      {
         color: #12A19F;
      }
      