    #popup-form
     {
        margin: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
        position: absolute;
        visibility: hidden;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        opacity: 1;
        background-color: white;
        z-index: 10;
      }
      #popup-form input
      {
        padding: 5px;
      }
      #popup-form:target, #popup-form:target + .overlay
      {
        visibility: visible;
         opacity:1;
      }
      .popup-header
      {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #464648;
        color: white;
        padding: 10px;
        font-size: large;
      }
      .popup-form input
      {
        padding: 5px;
      }
      .popup-header .closeButton
      {
        color: white;
        background-color: #464648;
        border: none;
        font-size: x-large;
        outline: none;
      }
      .popup-header .closeButton:link
      {
       text-decoration: none;
      }
      #popup-form .teacherForm
      {
        padding: 20px 20px 20px 20px;
      }

      #popup-form .inputDivFullRow
      {
        padding: 0px 0px 8px 0px;
        width: 100%;
      }
      #popup-form .inputDivFullRow div
      {
        display:flex;
        flex-direction: column;
        width: 100%;
      }
      #popup-form .inputDivFields
      {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 0px 8px 0px;
        width: 100%;
      }
      #popup-form #sexDiv
      {
        font-size: small;
      }
      #popup-form .teacherForm label
      {
        color: #8C8C8C;
        font-size: small;
        margin-bottom: 5px;
      }

      #popup-form .teacherForm input[type=text]
      {
        font-size: small;
        margin-bottom: 5px;
      }
      #popup-form .inputDivFields div
      {
        display:flex;
        flex-direction: column;
        width: 47%;
      }
      #popup-form .inputDiv
      {
        display:flex;
        flex-direction: row;
        gap: 2%;
        padding: 0px 0px 10px 0px;
        width: 100%;
      }
      #popup-form #sexDiv
      {
        gap: 0%;
      }
      #popup-form .inputDiv div
      {
        display:flex;
        flex-direction: column;
        margin: 0;
        width: 47%;
      }

      #popup-form .inputDiv input[type=radio]
      {
           margin-bottom: 5px;
      }
      #popup-form .submitResetButtonsDiv
      {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2%;
        padding: 15px 0px 0px 0px;
        height: 40px;
        width: 100%;
      }
      #popup-form .submitResetButtonsDiv input
      {
        width: 47%;
        height: 100%;
        background-color: white;
        color: #F64E33;
        font-weight: bold;
        outline: #FF8B81;
        border-color: #FF8B81;
        border-style: solid;
        border-width: 1px;
      }

      #popup-form .submitResetButtonsDiv input:hover
      {
        background-color: #F64E33;
        color: white;
        font-weight: bold;
        outline: #FF8B81;
        border-color: #F64E33;;
      }
      #popup-form .closeButton:target
      {
        visibility: hidden;

      }
